.httr-oauth
.RData
.Rhistory
.Rproj.user
.Renviron
.DS_Store
*.Rproj

# folders (ignore data for now)
Data 
Google_results
workflow_files
workflow_cache

# HTML, png, pdf
*.html
*.png
*.pdf

.CensusAPIkey.R
